body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header .contenedor {
    display: flex;
    justify-content: space-between;
}

header .lista-menu {
    display: flex;
 }

 header ul li {
     list-style: none;
     margin-right: 15px;
 }

a {
     text-decoration: none;
 }

 .contenedor {
    max-width: 1280px;
    width: 90%;
    margin: auto;
 }

 header {
    background: linear-gradient(rgba(75, 0, 130,.9), rgba(51, 255, 104 ,.9)), url(../imagenes/fondo.jpeg); 
    height: 100vh;
    background-size: cover; 
 }

.contenedor-titulo {
    text-align: center;
}

 #contedor-titulo-flex {
    display: flex;
    justify-content: center;
    margin: 15vh 0;
    max-width: 1580px;
    width: 100%;
 }
 h1 {
     font-size: 60px;
     color: #fff;
     margin: 0px;
 }

 h2 {
     font-size: 25px;
     color: #fff;
 }

 .contenedor-titulo a {
     font-size: 14px;
     color: #fff;
     background: #550788;
     padding:14px 24px;
     width: 128px;
     display: inline-block;
 }
 
 p.logo {
     color: #fff;
     font-size: 20px;
 }

 nav ul li a {
     color: #fff;
 }

 /* SECCION SOBRE MI */

 h3 {
     text-align: center;
     font-size: 53px;
     font-weight: normal;
 }

 #sobre-mi .contenedor-sobremi {
     display: flex;
     justify-content: space-around;
 }

 #sobre-mi .texto {
     width: 42%;
 }

 #sobre-mi a , #que-esperas a {
    font-size: 14px;
    color: #fff;
    background: #550788;
    padding:14px 24px;
    width: 128px;
    display: inline-block;
}

/* SECCION SERVICIOS */

.contenedor-servicios {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    color: #fff;
}

.servicio {
    width: 24%;
    padding: 34px 30px 38px 30px;
    border-radius: 15px;
    margin-bottom: 40px;
    position: relative;
}

.servicio h4 {
    font-size: 30px;
    margin: 0;
}

.servicio p {
    margin-bottom: 28px;
    height: 150px;
}

.contenedor-servicios .violeta {
    background-color: rgba(75, 0, 130,.9);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.contenedor-servicios .verde {
    background-color: rgba(51, 255, 104 ,.9);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
 #mis-trabajos h4, p {
    color: black;
    text-align: center;
}

#que-esperas {
    background: linear-gradient(rgba(75, 0, 130,.9), rgba(51, 255, 104 ,.9)); 
    text-align: center;
    padding: 50px 0;
    margin-top: 40px;
}

#que-esperas h3 {
    font-size: 23px;
    color: #fff;
}

.contacto-info {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.contacto-info img {
    width: 28px;
    vertical-align: middle;
    margin-right: 10px;
}

footer {
    background: #2f2f2f;
    padding: 40px 0;
    text-align: center;
    margin-top: 40px;
}

footer .contenedor {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

footer img {
    width: 45px;
    margin: 10px;
    transform: rotate(0);
    transition: 0.4s;
}
 footer img:hover {
     transform: rotate(360deg);
     transition: 0.4s;
 }

 footer p {
     color:  #fff;
     margin-top: 40px;
 }

 #whatsapp {
     position: fixed;
     top: 80%;
     right: 5%;
     width: 90px;

 }

 /* RESPONSIVE */

 html {
    scroll-behavior: smooth;
  }
  
  #mis-trabajos, #sobre-mi, #por-que-trabajar, #blog, #contacto {
    padding: 90px 0;
  }
  
  #servicios {
    padding: 70px 0;
  }
  
  .menu-icon {
    display: none;
  }
  
  @media (max-width: 800px) {
  
  .menu-icon {
    display: block;
  float: right;
  width: 40px;
  height: 35px;
  margin-top: 15px;
  }
  
  header nav {
    position: absolute;
    top: 83px;
    left: 0;
    height: 268px;
    background: #5cb8ff;
    width: 100%;
    display: none;
  }
  
  header nav ul {
    flex-direction: column;
  }
  
  header nav ul li {
    margin-bottom: 15px;
  }
  
  h1 {
    font-size: 44px;
  }
  
  h2 {
    font-size: 19px;
  }
  
  #sobre-mi .contenedor-sobremi {
      flex-direction: column;
  }
  
  #sobre-mi img {
    width: 100%;
  }
  
  #sobre-mi .texto {
      width: 100%;
  }
  
  .contenedor-servicios {
      flex-direction: column;
  }
  
  .servicio {
    width: 82%;
    padding: 34px 30px 69px 30px;
  }
  
  .icono {
      margin-top: 23px;
  }
  
  h3 {
    font-size: 43px;
  }
  
  .contenedor-trabajar {
      flex-direction: column;
  }
  
  #por-que-trabajar .item {
      width: 100%;
  }
  
  .item ul {
      padding: 0;
  }
  
  #blog .contenedor-publicaciones {
      flex-direction: column;
  }
  
  #blog .publicacion {
      width: 100%;
      margin-bottom: 40px;
  }
  
  #contacto form {
      width: 100%;
      flex-direction: column;
  }
  
  input[type="text"], input[type="email"] {
      width: 100%;
  }
  
  footer img {
      margin: 0 24px;
  }
  
  }
  
  @media (min-width: 600px) and (max-width:800px) {
    header {
      height: 70vh;
    }
  
    .servicio {
      width: 57%;
      padding: 34px 30px 69px 30px;
      margin: auto;
      margin-bottom: 45px;
  }
  
  #blog .publicacion {
      width: 71%;
      margin: auto;
      margin-bottom: 40px;
  }
  
  }
  

 